
/* Font is univerally the same */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Testing out colors for the body  */
body {
    background-color:darkgrey;
    color:rgb(255, 255, 255);

    

}

/* positioning the header */
header {
    background-color:grey;
    position: absolute;
    height:100px;
    width:100%;
    

}
/* navigation bar attributes */
nav {
    position: absolute;
    top: 70px;
    left: 1500px;
    font-size: 25px;
    

}

/* general paragraph attributes */
#paragraph1 {
    text-align: center;
    margin-top: 200px;
    margin-left: 495px;
    margin-right: 510px;
}

#paragraph2 {
    text-align: center;
    margin-top: 20px;
    margin-left: 495px;
    margin-right: 510px;
}










.mainName {
    
    left: 100px;
    background-color: white;
    color: grey;
    font-size: 32px;
    padding: 57px;
    text-align: 150px;
    border: rgb(0, 0, 0);
}

/* attributes for the main picture of me with giraffes */
#me {
    height:150px;
    width:150px;
    left:400px;
    top:175px;
   
    position: relative; 
}