

/* Testing out colors for the body  */
body {
    background-color:darkgrey;
    color:rgb(255, 255, 255);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/escheresque/escheresque/escheresque.png);
    background-size: 4%
    
    

}

/* positioning the header */
header {
    background-color:grey;
    position: absolute;
    height:100px;
    width:100%;
    font-family: Georgia, 'Times New Roman', Times, serif
    
    

}
/* navigation bar attributes */
nav {
    position: absolute;
    top: 40px;
    left: 1120px;
    font-size: 20px;
    

}


a {
    text-decoration: none;
    color:whitesmoke;

}

p {
    line-height: 150%;

}

/* attributes to my name, so it lays on the top left corner on the page */

.mainName {
    
    left: 460px;
    background-color: teal;
    color: whitesmoke;
    font-size: 28px;
    padding: 32px;
    border: rgb(0, 0, 0);
    position: absolute;
    width: 21%;
    height: 34%;
    box-shadow: 7px 6px 24px -3px rgba(0, 0, 0, .8), inset 0 0 24px -14px rgba(0, 0, 0, 1);
    text-shadow: 2px 1px 1px #222;
    border-left-style: solid;
    border-left-width: .5px;
    border-right-width: .5px;
    border-right-style: solid;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}


/* The border underneath about me */

#aboutMeBorder {
    
    border-bottom-style:solid;
    border-color:whitesmoke;
    width: 930px;

}

/* attributes for the main picture of me with giraffes. Added a light blue border and a box-shadow for a cool effect*/
#me {
    height: 215px;
    width: 215px;
    left: 520px;
    top: 385px;
    border: solid;
    border-color: teal;
    position: relative;
    box-shadow: 8px 7px 8px -5px rgba(0, 0, 0, .8), inset 0 0 5px -2px rgba(0, 0, 0, 1);
    z-index: 1;
}


/* created a box to hold all my content. */
#contentBox {
    border-color: whitesmoke;
    height: 525px;
    width: 960px;
    top: 265px;
    background-color: grey;
    bottom: 100px;
    left: 464px;
    right: 100px;
    position: absolute;
    border-bottom-style: solid;
    border-top: solid;
    border-top-color: teal;
    border-spacing: 10px;
    z-index: -1;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 30px;
    box-shadow: 8px 7px 8px -5px rgba(0, 0, 0, .8), inset 0 0 5px -2px rgba(0, 0, 0, 1);
    
}

/* general paragraph attributes */
#p1 {
    text-align: center;
    margin-top: 200px;
    margin-left: 845px;
    margin-right: 520px;
    z-index: 1;
    left: 10px;
    word-spacing:3px;
    line-height: 150%;
}

#p2 {
    text-align: center;
    margin-top: 65px;
    margin-left: 495px;
    margin-right: 526px;
    z-index: 1;
    word-spacing: 3px;
}
